.header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.713);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }

  .logoBlock {
    display: flex;
    align-items: center;
  }
  
  .headerLogo {
    max-width: 60px;
    margin: -2px 0 0 20px;
  }

  .headerTitle {
    color: white;
    padding-left: 2px;
  }

  .authBlock {
    max-width: 150px;
    width: 100%;
  }

  .authBlock a {
    color: white;
  }

  .loginBlock {
    display: flex;
    justify-content: space-between;
    max-width: 100%
  }