.button {
    background-color: rgb(255, 140, 0);
    border: solid 1px orange;
}

.button:hover {
    border: solid 1px black;
}

.disabledButton {
    background-color: white;
}

.textareaContiner {
    width: 100%;
}

.textarea {
    width: 100%;
    height: 4vw;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.textareaError::placeholder {
    color: red;
    width: 100%;
    height: 4vw;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.textareaError {
    width: 100%;
    height: 4vw;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}