.button {
    background-color: rgb(255, 140, 0);
    border: solid 1px orange;
}

.button:hover {
    border: solid 1px black;
}

.disabledButton {
    background-color: white;
}

.textarea {
    max-width: 400px;
    width: 100%;
    height: 4vw;
    min-height: 30px;
}