.app-wrapper {
  display: grid;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  position: relative;
}

.app-wrapper-content {
  grid-area: content;
  background-color: rgba(204, 204, 204, 0.299);
  width: 100%;
}

@media (max-width: 1180px) {
  .app-wrapper {
    grid-template-columns:1fr 11fr;
  }
}
@media (max-width: 350px) {
  .app-wrapper {
    grid-template-columns:33% auto;
  }
}