.dialogs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 380px;
}

.dialogsItems {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 150px;
}

.dialog {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.713);
    margin-bottom: 5px;
}

.active {
    color: rgb(255, 140, 0);
    text-decoration: none;
}

.messages {
    padding:10px;
    max-width: 100%;
}
.message {
    max-width: 220px;
    width: 100%;
}

.message p {
    max-width: 100%;
}

.dialogItemInfo{
    display: flex;
    align-items: center;
}

.dialogItem {
    margin-bottom: 3px;
}

.dialogItemImg {
    max-width: 20px;
    border-radius: 100px;
    margin-right: 5px;
}

.button {
    background-color: rgb(255, 140, 0);
    border: solid 1px orange;
}

.button:hover {
    border: solid 1px black;
}

.textareaError::placeholder {
    color: red;
}

.newMessageForm {
    margin-top: 20px;
    max-width: 100%;
}

@media (max-width: 414px) {
    .dialogsItems {
        display: none;
    }
}